/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0066cc;
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.text {
    flex: 1;
}

.collage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.collage-item {
    position: relative;
    text-align: center;
    width: 30%;
    min-width: 200px;
}

.collage-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.collage-item:hover img {
    transform: scale(1.05);
}

.collage-caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

/*Estilos Servicios*/
/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* Contenedor de servicios */
.services-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas */
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo de cada servicio */
.service-item {
    background-color: #b3e5fc; /* Azul claro */
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.service-item:hover {
    transform: scale(1.05); /* Pequeña animación al pasar el mouse */
}

.service-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 1rem;
    margin: 0;
    color: #004d5e;
}
